.btneon {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #0051ff , 0 0 70px #0051ff , 0 0 80px #0051ff , 0 0 100px #0051ff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
  
.btneon:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.btneo {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font-size: 10px;
    font: normal 28px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #05f74e , 0 0 70px #0ec545f1, 0 0 80px #05f74e , 0 0 100px #05f74ec2 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
  
.btneo:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #19a0a0 , 0 0 80px #00ffff , 0 0 100px #20a3a3 ;
}
.btn{
    background-color: rgba(12, 73, 122, 0.507);
    border: 2px solid #413c3cb2;
    box-shadow: 1px 1px 5px #1509c7da;
    border-radius: 15px;
    color: antiquewhite;
    text-decoration: none;
    display: block;
    width: 120px;
    padding: 10px 7px;
    text-align: center;
    margin: 0;
    transition: 0.5s;
}
.btn:hover{
    background-color: #42168873;
    box-shadow: none;
}
/*btn project*/
h3 {
    margin-bottom: 10px;
    color: #0b2b17;
    border-left:50px solid #ffffff07;
    padding-left: 40px;
    font-size: 24px;
}
h2 {
    font-size: 40px;
    font-family: Georgia;
}
